body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
}

#taskForm {
    display: inline-block;
    text-align: left;
}

li.completed {
    text-decoration: line-through;
}